# Google API
google-api-php-client/
google-calendar-api-quickstart/
googleapi.config.php

client_secret.json
openweathermap.config.php
slack_post.config.php
hackey.config.php
linebot.config.php
yahoodev.config.php
msazure.config.php

# Mastodon
mastodon.config.php
mastodonsocial_post.config.php
last_yamanote.txt
last_fukutoshin.txt
last_rainfall.txt

images/*
!.gitkeep
