<?php
/**
 * Fill API keys and rename this file to `mastodon.config.php`
 */

// Mastodon 用
define('MASTODON_HOST', 'example.com');

define('MASTODON_USERNAME',     'XXXXXXXX');
define('MASTODON_ACCESS_TOKEN', 'XXXXXXXX');

define('MASTODON_MYSQL_USER',     'XXXXXXXX');
define('MASTODON_MYSQL_PASSWORD', 'XXXXXXXX');
define('MASTODON_MYSQL_DATABASE', 'XXXXXXXX');
define('MASTODON_MYSQL_HOST',     'XXXXXXXX');
