<?php
/**
 * Fill API keys and rename this file to `slack_post.config.php`
 */

define('WEBHOOK_URL', 'https://hooks.slack.com/services/XXX/XXX/XXX');

function post_slack($text) {
    $message = array(
        'text' => $text,
    );
    $options = array(
        'http' => array(
            'method' => 'POST',
            'header' => 'Content-Type: application/json',
            'content' => json_encode($message),
        )
    );
    $response = file_get_contents(WEBHOOK_URL, false, stream_context_create($options));
    print $response . "\n";
}
