<?php
/**
 * Fill API keys and rename this file to `slack_post.config.php`
 */

// Bot 情報
define('BOT_NAME', 'Labot');
define('BOT_ICON', ':speak_no_evil:');

// Slack 用
define('SLACK_API_KEY', 'XXXXXXXX');
